<header>
<div class="jumbotron">
 <div class="overlay"></div>
   <%= video_tag "bg.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
    <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
      <h1 class="display-4">HUGO MORAGA</h1>
  <p class="lead">SYSADMIN > DEVELOPER > DESIGN > ART</p>
  <hr class="my-4">
  <p>Amante de las tecnologias, las interfaces, los sistemas y las artes digitales</p>
      </div>
    </div>
  </div>
 
</div>
</header>

<p class="h2 m-5">< SELECT WORK /> </p>



<div class="row">
<div class="col-md-12>

                <!--Carrusel-->
                
                <div class="">
                    
                    <div id="carouselExampleIndicators" class="p-3 carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-3">
                                        <%= image_tag 'slider-1.png', class: 'img-fluid mx-auto d-block' %>
                                    </div>
                                    <div class="col-md-3">
                                        <%= image_tag 'slider-1.png', class: 'img-fluid mx-auto d-block' %>
                                    </div>
                                    <div class="col-md-3">
                                        <%= image_tag 'slider-1.png', class: 'img-fluid mx-auto d-block' %>
                                    </div>
                                    <div class="col-md-3">
                                        <%= image_tag 'slider-1.png', class: 'img-fluid mx-auto d-block' %>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <%= image_tag 'slider-1.png', class: 'img-fluid mx-auto d-block' %>
                                    </div>
                                    <div class="col-md-3">
                                        <%= image_tag 'slider-1.png', class: 'img-fluid mx-auto d-block' %>
                                    </div>
                                    <div class="col-md-3">
                                        <%= image_tag 'slider-1.png', class: 'img-fluid mx-auto d-block' %>
                                    </div>
                                    <div class="col-md-3">
                                        <%= image_tag 'slider-1.png', class: 'img-fluid mx-auto d-block' %>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    
                </div>    

</div>
</div>

<div class="container">
<div class="row">

<div class="col-md-12">

<p class="h2 mt-5">< SKILLZ & TOOLS /> </p>


<svg id="tagi" x="0px" y="0px" width="920px" height="300px" viewBox="0 0 920 324">
    <text transform="matrix(1 0 0 1 497.4292 293.7129)" class="st17 st0">SYSADMIN</text>
    <text transform="matrix(1 0 0 1 727.8999 191.9316)" class="st17 st20"></text>
    <text id="XMLID_2_" transform="matrix(1 0 0 1 433.0854 82.7407)" class="st17 st8">RUBY</text>
    <text transform="matrix(1 0 0 1 188.187 144.3555)" class="st5 st17 st22">RAILS</text>
    <text transform="matrix(1 0 0 1 380.8301 145.1353)" class="st17 st29">LINUX</text>
    <text transform="matrix(1 0 0 1 378.8799 54.6626)" class="st5 st28 st6">  </text>
    <text transform="matrix(1 0 0 1 247.0718 191.1514)" class="st5 st28 st18">SCRIPTS</text>
    <text transform="matrix(1 0 0 1 0 129.9268)" class="st5 st28 st30">JQUERY</text>
    <text transform="matrix(1 0 0 1 250.9712 76.1118)" class="st5 st28 st14">JAVASCRIPTS</text>
    <text transform="matrix(1 0 0 1 229.9131 169.5225)" class="st5 st28 st25">NODEJS</text>
    <text transform="matrix(1 0 0 1 472.4722 105.3691)" class="st5 st28 st27">HTML</text>
    <text transform="matrix(1 0 0 1 735.7007 163.4639)" class="st5 st28 st1"></text>
    <text transform="matrix(1 0 0 1 128.9111 264.4697)" class="st5 st28 st26">NETWORKING</text>
    <text transform="matrix(1 0 0 1 191.3057 102.2393)" class="st5 st28 st24">PERFORMANCE</text>
    <text transform="matrix(1 0 0 1 318.4351 289.0342)" class="st5 st28 st1">FULL STACK</text>
    <text transform="matrix(1 0 0 1 740.77 211.4307)" class="st5 st28 st21"></text>
    <text transform="matrix(1 0 0 1 683.0542 230.5381)" class="st5 st28 st19">ANGULAR</text>
    <text transform="matrix(0.9244 0 0 1 632.7485 97.0288)" class="st5 st28 st16">DESGIN</text>
    <text transform="matrix(1 0 0 1 663.5552 139.2856)" class="st5 st28 st3"></text>
    <text transform="matrix(1 0 0 1 251.3608 240.4502)" class="st5 st17 st31">DEPLOYMENT</text>
    <text transform="matrix(1 0 0 1 217.0439 54.2744)" class="st5 st28 st11">VIRTUALIZATION</text>
    <text transform="matrix(1 0 0 1 119.9526 240.2871)" class="st5 st28 st13">DESIGN</text>
    <text transform="matrix(1 0 0 1 444.0044 34.7744)" class="st5 st17 st4">PHOTOSHOP</text>
    <text transform="matrix(1 0 0 1 125.4019 129.147)" class="st5 st28 st15">CSS</text>
    <text transform="matrix(1 0 0 1 350.8022 207.5303)" class="st17 st2">DEVELOPMENT</text>
    <text transform="matrix(1 0 0 1 81.5249 212.6006)" class="st17 st9">GIT</text>
    <text transform="matrix(1 0 0 1 545.0063 316.7061)" class="st5 st28 st23">CLOUD</text>
    <text transform="matrix(1 0 0 1 638.2075 66.7529)" class="st5 st28 st12">POSTGRESQL</text>
    <text transform="matrix(1 0 0 1 185.8467 282.4043)" class="st5 st28 st10">BACKUP</text>
    <text transform="matrix(1 0 0 1 34.1494 150.5947)" class="st5 st28 st7"></text>
  </svg>


<div class="card special-card">
  <div class="card-header text-white h2"></div>
  <div class="card-block">
  

  
</div>
  <div class="card-footer">This is my footer</div>
</div>
</div>
</div>
</div>

<script>
$(document).ready(function() {

  var
    words = $('#tagi text'),
    l = words.length,
    current = null,
    delay = 2000;

  function clearBlink(o) {
    var
      ca = o.getAttribute('class').split(' '),
      i = ca.indexOf('blink');

    if (i !== -1) {
      ca.splice(i, 1);
      o.setAttribute('class', ca.join(' '));
    }
  }

  function addBlink(o) {
    var
      ca = o.getAttribute('class').split(' ');
    ca.push('blink');
    o.setAttribute('class', ca.join(' '));
  }

  function wordblink() {

    var e;

    if (current !== null) {
      clearBlink(words.eq(current)[0])
    }

    current = Math.floor(Math.random() * l);
    e = words.eq(current);
    addBlink(e[0]);

    setTimeout(wordblink, delay);
  }

  wordblink();

});
</script>